@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cybersyn University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenidos a Cybersyn University</h2>
        <p>
            
            Cybersyn University es una aplicación de referencia 
            que demuestra el funcionamiento del ORM Entity Framework
            6 en una aplicacion web ASP.NET MVC 
        </p>
    </div>
</div>